<div class="namecard-area">
    <%= form_with model: @home ,url: home_path(@home),  method: :patch do |f| %>
        <div class="profile-contents">
            <div class="profile-content-right">
                <textarea><%= @home.name %></textarea>
                <textarea><%= @home.school %></textarea>
                <textarea><%= @home.department %></textarea>
                <hr>
                <textarea><%= @home.phone %></textarea>
                <textarea><%= @home.address %></textarea>
            </div>
        </div>

        <div class="profile-content-bottom">
            <div class="profile-content-bottom-right">
                <h3>favorite ---------</h3>
                <textarea><%= @home.favorite_a %></textarea>
                <textarea><%= @home.favorite_b %></textarea>
                <textarea><%= @home.favorite_c %></textarea>
                <textarea><%= @home.favorite_d %></textarea>
            </div>
        </div>
        <div class="work-title">
                <h1 class="title" style="text-align:center">作品/実績</h1>
        </div>
        <div class="work-contents">
            <div class="work-content">
                <div class="work-content-right">
                    <textarea><%= @home.title %></textarea>
                    <textarea><%= @home.caption %></textarea>
                </div>
            </div>
        </div>
        <%= f.submit "変更する" %>
    <% end %>
</div>
