<table>
    <thead>
        <tr>
            <th>名前</th>
            <th>タイトル</th>
        </tr>
    </thead>

    <% @homes.each do |home| %>
        <tr>
            <td><%= home.name %></td>
            <td><%= home.school %></td>
            <td><%= home.department %></td>
            <td><%= home.address %></td>
            <td><%= home.phone %></td>
            <td><%= home.favorite %></td>
            <td><%= home.title %></td>
            <td><%= home.caption %></td>
        </tr>
    <% end %>
</table>
