<h1>Companies#new</h1>

<%= form_with model: @company do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :company_name %>
    <%= f.collection_select(:category_id, @categories, :id, :genre_name) %>
    <%= f.submit "Create" %>
<% end %>

<%= link_to "Back", companies_path %>
