<div class="d-flex justify-content-center">
    <div class="row w-75">
        <div class="col-5 offset-1">
            <%= image_tag "/dummy.png", class: "w-100 img-fuild" %>
        </div>

    <div class="col">
      <div class="d-flex flex-column">
        <h1 class="">
          <%= @company.company_name %>
        </h1>
        <p class="">
          <%= @company.name %>
        </p>
        <hr>
      </div>

        <%= form_with model: @company do |f| %>
          <%= f.hidden_field :id, value: @company.id %>
          <%= f.hidden_field :name, value: @company.name %>
          <div class="row">
            <div class="col-7">
              <%= f.submit "リストに追加", class: "btn sach-submit-button w-100" do %>
                <i class="fas fa-shopping-cart"></i>
              <% end %>
            </div>
            <div class="col-5">
              <%= link_to "#", class: "btn sach-favorite-button text-dark w-100" do %>
                <i class="fa fa-heart"></i>お気に入り
              <% end %>
            </div>
          </div>
        <% end %>

    </div>
  </div>
</div>
