<div class="area">
    <div class="category_area">
        <%= render partial: "layouts/sidebar", locals: { categories: @categories, work_category_names: @work_category_names } %>
    </div>
    <div class="row">
        <div class="category-container">
            <% if @category.present? %>
            <%= link_to "トップ", "#", category: @work_category_name %> > <%= @category.genre_name %>
            <h1><%= @category.genre_name %>の商品一覧<%= @company_infos.count %>件</h1>
            <% end %>
        </div>
        <div class="container-box">
            <div class="container">
                <% @company_infos.each do |company_info|%>
                    <div class="group-body">
                        <div class="group-main">
                            <div class="main-image">
                            </div>
                            <div class="group-text">
                                <p class="company-number">企業No.<%= company_info.id %></p>
                                <div class="top-text">
                                    <h2><%= company_info.name %></h2>
                                    <hr>
                                    <p>担当者：<%= company_info.name %></p>
                                </div>
                                <div class="bottom-text">
                                <%= link_to "詳しく見る", company_info_path(company_info) ,class: "show_link" %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="setting-icon">
        <%= link_to "全て", company_infos_path ,class: "list_link" %>
        </div>
        <div class="setting-icon">
        <%= link_to image_tag("/setting_icon.png"), edit_company_info_path(@company_infos) %>
        </div>
        <%= paginate @company_infos %>
    </div>
</div>
