<div class="page-body">
    <div class="group-contents">
        <div class="image-content">
            <%= image_tag @company_info.image.url %>
        </div>
        <div class="text-contents">
            <div class="content">
                <div class="main-content">
                    <h1><%= @company_info.name %></h1>
                    <hr>
                    <p>担当者：</p>
                    <h2><%= @company_info.name %></h2>
                </div>
                <div class="body_content">
                    <div class="body-left-content">
                        <h2>住所</h2>
                        <p><%= @company_info.address %></p>
                    </div>
                    <div class="body-right-content">
                        <h2>アクセス</h2>
                        <p><%= @company_info.access %></p>
                    </div>
                    <div class="body-bottom-content">
                        <h2>ホームページ</h2>
                        <p><%= @company_info.url %></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <%= link_to "会社一覧に戻る", company_infos_path ,class: "top_link" %>
</div>
